<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Vue-ydui Demo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 引入样式 -->
  <link rel="stylesheet" href="https://unpkg.com/vue-ydui/dist/ydui.rem.css">
  <link rel="stylesheet" href="./static/css/demo.css" />
  <!-- 引入rem自适应类库 -->
  <script src="https://unpkg.com/vue-ydui/dist/ydui.flexible.js"></script>
  <!-- 数据请求 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
  <div id="app" v-cloak>
    <div class="product-container">
      <!-- 产品图展示 -->
      <div class="show-product">
        <div>
          <div class="yd-grids-2">
            <span class="yd-grids-item">
              <img :src="product.a" />
            </span>
            <span class="yd-grids-item">
              <img :src="product.b" />
            </span>
          </div>
          <div class="yd-grids-2">
            <span class="yd-grids-item">
              <img :src="product.c" />
            </span>
            <span class="yd-grids-item">
              <img :src="product.d" />
            </span>
          </div>
        </div>
      </div>

      <div class="product-main">
        <yd-cell-group>
          <!-- 步骤条 -->
          <div class="choose-product">
            <yd-cell-item arrow type="label" @click.native="choosePopup=true">
              <span slot="left">选择产品规格</span>
            </yd-cell-item>
            <yd-step :current="currentStep">
              <yd-step-item v-for="item in productItems" :key="item.cate_name">
                <span slot="bottom">产品{{item.id}}</span>
              </yd-step-item>
            </yd-step>
          </div>

          <!-- 商品详情 -->
          <div class="product-details">
            <yd-cell-item>
              <span slot="left">商品详情</span>
            </yd-cell-item>
            <div class="details-img" v-html="productDetails"></div>
          </div>
        </yd-cell-group>
      </div>

      <yd-popup v-model="choosePopup" position="bottom" height="60%" v-if="productItems[currentIndex]">
        <div class="popup-head">产品{{productItems[currentIndex].id}}</div>

        <div class="popup-body">

          <div class="product-info">
            <p>{{productItems[currentIndex].cate_name}}</p>
            <span class="price">￥{{currentPrice}}</span>
          </div>

          <div class="product-label">
            <!-- 系列 如果系列里有数据才显示 -->
            <div class="mt-10" 
              v-for="series in productItems[currentIndex].cate_list" :key="series.id"
              v-if="series.shop_list.length > 0">
              <h3>{{series.cate_name}}</h3>
              <div>
                <span class="labelItem" v-for="item in series.shop_list" :key="item.id" @click="clickItem(productItems[currentIndex].id, item)"
                  :class="{'active': item.id == activeLabel}">{{item.store_name}}</span>
              </div>
            </div>

            <!-- 产品属性（颜色） -->
            <div class="mt-10" v-if="colorList.length > 0">
              <h3>{{colorList[0].attr_name}}</h3>
              <div>
                <span class="labelItem" v-for="vals in colorList[0].attr_values" @click="clickColor(vals)"
                  :class="{'active': vals == activeColor}">{{vals}}</span>
              </div>
            </div>

            <!-- 尺码 -->
            <div class="mt-10" v-if="sizeList.length != ''">
              <h3>尺码</h3>
              <div>
                <span class="labelItem" 
                  v-for="(value, key, index) in sizeList" 
                  :key="index" 
                  @click="clickSize(key, value)" 
                  :class="{'active': key == activeSize}">
                    {{key}}
                  </span>
              </div>
            </div>
          </div>
        </div>

        <div class="popup-foot">
          <yd-button v-if="flag != 1 && flag != ''" size="large" type="hollow" @click.native="from('prev', flag)">上一步</yd-button>
          <yd-button v-if="flag != 4" size="large" :type="isNext ? 'hollow' : 'disabled'" @click.native="from('next', flag)">下一步</yd-button>
          <yd-button v-if="flag == 3 || flag == 4" size="large" :type="isNext ? 'danger' : 'disabled'" type="danger" @click.native="submit()">加入购物车</yd-button>
        </div>
      </yd-popup>

      <a href="javascript:;" class="go-top" :style="{display: isDisplay}" @click="goTop()"></a>
    </div>
  </div>
  <!-- 引入 Vue -->
  <script src="https://unpkg.com/vue"></script>
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/vue-ydui/dist/ydui.rem.js"></script>
  <script>
    new Vue({
      el: '#app',
      data() {
        return {
          product: {
            a: "./static/image/a.png",
            b: "./static/image/b.png",
            c: "./static/image/c.png",
            d: "./static/image/d.png"
          },
          productItems: [],
          productDetails: '',
          flag: '',
          isOk: false,
          choosePopup: false,
          isDisplay: 'none',
          isNext: false, // 是否下一步
          currentIndex: 0,
          currentPrice: 0,
          currentStep: 0,
          activeLabel: '',
          activeColor: '',
          activeSize: '',
          colorList: [],
          productValue: [],
          sizeList: [],
          productState: [],
          params: {
            unique: [],
            productId: []
          }
        }
      },
      mounted() {
        window.addEventListener('resize', this.handleResize, true);
        window.addEventListener('scroll', this.handleScroll, true);
      },
      created() {
        this.init();
        setTimeout(() => {
          this.handleResize();
        }, 100);
      },
      methods: {
        init() {
          this.$dialog.loading.open('正在加载');
          $.ajax('http://test.hzyctools.com/wap/auth_api/get_product_list_comb', {
                dataType: 'jsonp',
                crossDomain: true,
                success: ((res) => {
                  if (res.code === 200) {
                    this.$dialog.loading.close();
                    let data = res.data;
                    if (data) {
                      // 产品信息
                      if (data.parentCates) {
                        this.productItems = data.parentCates;
                      }
                      // 产品详情
                      if (data.product_info) {
                        this.productDetails = data.product_info.description;
                      }
                    }
                  } else {
                    this.$dialog.loading.open('加载失败~');
                    setTimeout(() => {
                      this.$dialog.loading.close();
                    }, 1000);
                  }
                })
            })   
        },
        from(come, flag) {
          this.$dialog.loading.open('正在加载');

          if (come == 'prev') { // 上一步
            this.currentIndex = flag === 2 ? 0 : flag === 3 ? 1 : flag === 4 ? 2 : 3;
          } else { // 下一步
            this.isNext = false;
            this.currentIndex = flag === 1 ? 1 : flag === 2 ? 2 : flag === 3 ? 3 : 0;
          }

          console.log(this.productState)
          
          if (this.productState.length > this.currentIndex) {
            this.colorList = this.productState[this.currentIndex].colorList;
            this.sizeList = this.productState[this.currentIndex].sizeList;
            this.currentPrice = this.productState[this.currentIndex].price;
            this.activeLabel = this.productState[this.currentIndex].label;
            this.activeColor = this.productState[this.currentIndex].color;
            this.activeSize = this.productState[this.currentIndex].size;
          } else {
            this.colorList = [];
            this.productValue = [];
            this.colorList = [];
            this.sizeList = [];
            this.currentPrice = 0;
            this.activeColor = '';
            this.activeSize = '';
          }

          this.flag = this.currentIndex === 0 ? 1 : this.currentIndex === 1 ? 2 : this.currentIndex === 2 ? 3 : 4;
          this.currentStep = this.currentIndex;
          this.$dialog.loading.close();
        },
        clickItem(form, item) {
          this.colorList = item.productAttr;
          this.productValue = item.productValue;
          this.activeLabel = item.id;
          this.params.productId.push(item.id);
          this.flag = form;
        },
        clickColor(attr) {
          this.activeColor = attr;
          this.sizeList = this.productValue[attr];
          
        },
        clickSize(size, value) {
          this.activeSize = size;
          if (this.flag === 1) {
            this.product.a = value.image;
          } else if (this.flag === 2) {
            this.product.b = value.image;
          } else if (this.flag === 3) {
            this.product.c = value.image;
          } else if (this.flag === 4) {
            this.product.d = value.image;
          }
          this.currentPrice = value.price;
          this.isNext = true;
          this.params.unique.push(value.unique);

          let params = {
            colorList: this.colorList,
            sizeList: this.sizeList,
            price: this.currentPrice,
            image: value.image,
            label: this.activeLabel,
            color: this.activeColor,
            size: this.activeSize
          }
          this.productState.push(params);
        },
        fn(label, key) {
          if (key === 2 || key === 3) {
            this.isOk = true;
          } else {
            this.isOk = false;
          }
        },
        // 监听show-product容器宽度
        handleResize() {
          let showProduct = document.getElementsByClassName("show-product")[0];
          let bodyProduct = document.getElementsByClassName("product-main")[0];
          let tabWrapper = document.getElementsByClassName("tab-wrapper")[0];
          let height = document.documentElement.clientHeight || document.body.clientHeight;
          let footerBtn = document.getElementsByClassName("footer-btn")[0];
          if (showProduct) {
            let width = showProduct.clientWidth;
            showProduct.style.height = width + 'px';

            if (bodyProduct) {
              bodyProduct.style.marginTop = width + 10 + 'px';
              bodyProduct.style.height = height - width + 'px';
            }

          }
        },
        handleScroll() {
          let bodyProduct = document.getElementsByClassName("product-main")[0];
          if (bodyProduct) {
            let scrollTop = bodyProduct.pageYOffset || bodyProduct.scrollTop;
            scrollTop > 100 ? this.isDisplay = 'block' : this.isDisplay = 'none';
          }
        },
        goTop() {
          let bodyProduct = document.getElementsByClassName("product-main")[0];
          if (bodyProduct) {
            bodyProduct.scrollTop = 0;
          }
        },
        submit() {
          this.$dialog.loading.open('正在添加');
          /*
            立即购买
            cartNum数量
            uniqueId属性组合的唯一id，多个用逗号隔开
            productId多个商品的组合id，多个用逗号隔开
            is_comb=1表示组合购买
            /cartNum/1/uniqueId/89f3e6c0/productId/1,5,9,13/is_comb/1
            http://test.hzyctools.com/index.php/wap/auth_api/now_buy
            */
          /*
            加入购物车
            cartNum数量1
            uniqueId属性组合的唯一id，多个用逗号隔开
            productId多个商品的组合id，多个用逗号隔开
            is_comb=1表示组合购买
            http://test.hzyctools.com/wap/auth_api/set_cart/cartNum/1/uniqueId/658abcc1/productId/4
          */
          $.ajax('http://test.hzyctools.com/wap/auth_api/set_cart_comb', {
              data: {
                cartNum: 1,
                unique: this.params.unique.join(','),
                productId: this.params.productId.join(','),
                is_comb: 1,
              },
              dataType: 'jsonp',
              crossDomain: true,
              success: ((res) => {
                if (res.code === 200) {
                  if (res.data && res.data.cartId) {
                    this.$dialog.loading.open('加入成功~');
                    setTimeout(() => {
                      this.$dialog.loading.close();
                      window.location.href = 'http://test.hzyctools.com/wap/store/cart.html?uniqueId=' + res.data.cartId;
                    }, 1000);
                  }
                } else {
                  this.$dialog.loading.open('加入失败~');
                  setTimeout(() => {
                    this.$dialog.loading.close();
                  }, 1000);
                }
              })
          })   
        }
      }
    })

  </script>
</body>

</html>
