<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>组合搭配</title>
  <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
  <meta content="yes" name="apple-mobile-web-app-capable" />
  <meta content="black" name="apple-mobile-web-app-status-bar-style" />
  <meta content="telephone=no" name="format-detection" />
  <!-- 引入样式 -->
  <link rel="stylesheet" href="https://unpkg.com/vue-ydui/dist/ydui.rem.css">
  <link rel="stylesheet" href="./static/css/demo.css" />
  <!-- 引入rem自适应类库 -->
  <script src="https://unpkg.com/vue-ydui/dist/ydui.flexible.js"></script>
  <!-- 数据请求 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
  <div id="app" v-cloak>
    <div class="product-container">
      <div class="show-product">
        <!-- 产品图展示 -->
        <div class="product-image">
          <img :src="product.a" class="imgA" />
          <img :src="product.b" class="imgB" />
          <img :src="product.c" class="imgC" />
          <img :src="product.d" class="imgD" />
        </div>

        <!-- 步骤条 -->
        <div class="product-step">
          <yd-step :current="currentIndex + 1" current-color="#ef4f4f">
            <!-- <yd-step-item v-for="item in productData" :key="item.cate_name"></yd-step-item> -->
            <li class="yd-step-item"
                v-for="(item, index) in productData" :key="item.cate_name"
                :class="{'yd-step-item-current' : currentIndex >= index}">
                <em><i>{{index + 1}}</i></em>
            </li>
          </yd-step>
        </div>
      </div>

      <div class="product-main">
        <yd-cell-group>
          <div class="choose-product" v-show="currentIndex === index" v-for="(data, index) in productData">
            <!-- 商品选择 -->
            <div class="choose-main">

              <div class="popup-body">

                <div class="product-info">
                  <p>{{data.cate_name}}</p>
                  <span class="price">￥{{product.price}}</span>
                </div>

                <yd-tab class="product-label" v-model="tab[index]">
                  <yd-tab-panel v-for="cate in data.cate_list" 
                    :key="cate.id" 
                    :label="cate.cate_name">
                    <div class="mt-10">
                      <h3>系列</h3>
                      <div v-for="shop in cate.shop_list" :key="shop.id">
                        <span class="labelItem"
                          @click="clickSeries(currentIndex, shop)"
                          :class="{'active': shop.id == active.series}">{{shop.store_name}}</span>

                          <div class="mt-10">
                              <h3>颜色</h3>
                              <div>
                                <span class="labelItem" 
                                  v-for="(vals, key) in shop.productValue_color"
                                  @click="clickColor(vals, key)"
                                  :class="{'active': key == active.color}" >{{key}}</span>
                              </div>
                          </div>

                          <div class="mt-10">
                              <h3>尺码</h3>
                              <div>
                                <span class="labelItem" 
                                  v-for="(vals, key) in list.size"
                                  @click="clickSize(key)" 
                                  :class="{'active': key == active.size}">{{key}}{{vals.unique}}</span>
                              </div>
                          </div>
                      </div>
                    </div>
                  </yd-tab-panel>
                </yd-tab>
                
              </div>
            </div>
          </div>
          <!-- 商品详情 -->
          <div class="product-details" v-if="product.detailImg">
            <yd-cell-item>
              <span slot="left">商品详情</span>
            </yd-cell-item>
            <div class="details-img" v-html="product.detailImg"></div>
          </div>
        </yd-cell-group>
      </div>

      <div class="product-foot">
        <yd-button v-if="currentIndex != 0" size="large" type="hollow" @click.native="from('prev', currentIndex)">上一步</yd-button>
        <yd-button v-if="currentIndex != 3" size="large" :type="isNext ? 'hollow' : 'disabled'" @click.native="from('next', currentIndex)">下一步</yd-button>
        <yd-button v-if="currentIndex == 2 || currentIndex == 3" size="large" :type="(isNext || currentIndex == 3) ? 'danger' : 'disabled'"
          @click.native="submit()">加入购物车</yd-button>
      </div>

      <a href="javascript:;" class="go-top" v-if="isDisplay" @click="goTop()"></a>
    </div>
  </div>
  
  <!-- 引入 Vue -->
  <script src="https://unpkg.com/vue"></script>
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/vue-ydui/dist/ydui.rem.js"></script>
  <script>
    new Vue({
      el: '#app',
      data() {
        return {
          product: {
            a: "./static/image/a.png",
            b: "./static/image/b.png",
            c: "./static/image/c.png",
            d: "./static/image/d.png",
            price: 0, // 产品价格
            detailImg: '', // 详情图
          },
          tab: [0, 0, 0, 0],
          productData: [], // 数据集
          currentIndex: 0, // 当前数据集的索引
          isDisplay: false, // 回到顶部的图标是否显示
          isNext: false, // 是否下一步
          active: { // 选中的状态
            series: '', // 系列
            color: '', // 颜色
            size: '', // 尺码
          },
          list: { // 数据列表
            color: [], // 颜色
            size: [] // 尺码
          },
          params: {
            productId: [], // 商品组合id
            unique: [] // 组合的唯一id
          },
          productValue: {},
          productState: [], // 数据的状态，用于存储上一步下一步的数据
        }
      },
      mounted() {
        window.addEventListener('resize', this.handleResize, true);
        window.addEventListener('scroll', this.handleScroll, true);
      },
      created() {
        this.init();
        setTimeout(() => {
          this.handleResize();
        }, 100);
      },
      methods: {
        from(come, flag) {
          if (come == 'prev') { // 上一步
            this.currentIndex = flag === 1 ? 0 : flag === 2 ? 1 : flag === 3 ? 2 : 3;
          } else { // 下一步
            this.currentIndex = flag === 0 ? 1 : flag === 1 ? 2 : flag === 2 ? 3 : 0;
            let params = {
              colorList: this.list.color,
              sizeList: this.list.size,
              price: this.product.price,
              image: this.image,
              series: this.active.series,
              color: this.active.color,
              size: this.active.size,
              detailImg: this.product.detailImg,
              unique: this.params.unique, // 属性组合的唯一id
              productId: this.params.productId, // 多个商品的组合id
              tab: this.tab[this.currentIndex]
            }
            // 如果为修改时 则找到当前索引并重新复制
            if (this.productState.length > this.currentIndex - 1) {
              this.productState[this.currentIndex - 1] = params;
            } else { // 添加
              this.productState.push(params);
            }
          }

          // 是否选择了最后一项尺码，如果选择了则启用下一步
          if (this.productState[this.currentIndex] && this.productState[this.currentIndex].size) {
            this.isNext = true;
          } else {
            this.isNext = false;
          }

          // 当前保存的数据值长度 小于当前索引时 并且为下一步时清空选中的状态，与清空数据值
          if ((this.productState.length < this.currentIndex + 1) && come == 'next') {
            this.initData();
          } else { // 否则则查找当前索引的数据值，与选中的状态
            this.list.size = this.productState[this.currentIndex].sizeList;
            this.list.color = this.productState[this.currentIndex].colorList;
            this.product.price = this.productState[this.currentIndex].price;
            this.active.series = this.productState[this.currentIndex].series;
            this.active.color = this.productState[this.currentIndex].color;
            this.active.size = this.productState[this.currentIndex].size;
            this.product.detailImg = this.productState[this.currentIndex].detailImg;
          }
        },
        clickSeries(index, shop) {
          // 系列选中状态
          this.active.series = shop.id;

          // 保存系列下颜色内的数据值
          this.productValue = shop.productValue_color;

          // 当前系列下的颜色
          this.list.color = this.productValue;
          // 默认获取第一个颜色
          let color = Object.keys(this.list.color)[0];
          // 选中第一个颜色值
          this.active.color = color;

          // 默认当前颜色下的尺码
          this.list.size = this.productValue[color].productValue;

          // 否则清空尺码选中的状态
          this.active.size = '';

          // 禁止下一步
          this.isNext = false;


          // 产品详情图
          this.product.detailImg = shop.description;

          // 当前索引
          this.currentIndex = index;

          this.forParams();

        },
        clickColor(vals, key) {
          // 颜色选中状态
          this.active.color = key;
          // 根据当前的索引来匹配点击时值对应的图片所放的位置
          if (this.currentIndex === 0) {
            this.product.a = vals.image;
          } else if (this.currentIndex === 1) {
            this.product.b = vals.image;
          } else if (this.currentIndex === 2) {
            this.product.c = vals.image;
          } else if (this.currentIndex === 3) {
            this.product.d = vals.image;
          }

          // 当前价格
          this.product.price = vals.price;
          // 当前图片
          this.image = vals.image;

          this.list.size = vals.productValue;

          this.forParams();

        },
        clickSize(key) {
          // 尺码选中状态
          this.active.size = key;
          // 启用下一步
          this.isNext = true;

          // 标记是否点了最后选择项（尺码）
          this.isLast = this.currentIndex === 3 ? true : false;

          this.forParams();
        },
        forParams() {
          // 产品组合id，用于加入购物车时
          this.params.productId = this.active.series;
          // 组合的唯一id
          let unique = ''; 

          // 如果有数据值
          if (this.productState.length > this.currentIndex) {
            let productValue = this.productState[this.currentIndex].colorList;
            unique = this.active.size ? productValue[this.active.color].productValue[this.active.size].unique : '';
          } else {
            unique = this.active.size ? this.productValue[this.active.color].productValue[this.active.size].unique : '';
          }
          this.params.unique = unique;

        },
        init() {
          this.$dialog.loading.open('正在加载');
          $.ajax('http://test.hzyctools.com/wap/auth_api/get_product_list_comb', {
            dataType: 'jsonp',
            crossDomain: true,
            success: ((res) => {
              if (res.code === 200) {
                this.$dialog.loading.close();
                let data = res.data;
                if (data) {
                  // 产品信息
                  if (data.parentCates) {
                    this.productData = data.parentCates;
                    this.initData();
                  }
                }
              } else {
                this.$dialog.loading.open('加载失败~');
                setTimeout(() => {
                  this.$dialog.loading.close();
                }, 1000);
              }
            })
          })
        },
        submit() {
          this.$dialog.loading.open('正在添加');
          /*
            立即购买
            cartNum数量
            uniqueId属性组合的唯一id，多个用逗号隔开
            productId多个商品的组合id，多个用逗号隔开
            is_comb=1表示组合购买
            /cartNum/1/uniqueId/89f3e6c0/productId/1,5,9,13/is_comb/1
            http://test.hzyctools.com/index.php/wap/auth_api/now_buy
            */
          /*
            加入购物车
            cartNum数量1
            uniqueId属性组合的唯一id，多个用逗号隔开
            productId多个商品的组合id，多个用逗号隔开
            is_comb=1表示组合购买
            http://test.hzyctools.com/wap/auth_api/set_cart/cartNum/1/uniqueId/658abcc1/productId/4
          */

          // 定义提交所需的参数数组
          let uniqueList = [];
          let productList = [];

          this.productState.forEach(ele => {
            uniqueList.push(ele.unique);
            productList.push(ele.productId);
          });

          //  加入购物车 最后选择时的数据
          uniqueList.push(this.unique);
          productList.push(this.productId);

          // 如果是到了第四步并未选择商品
          if (!this.isLast && this.currentIndex === 3) {
            uniqueList = uniqueList.slice(0, -1);
            productList = productList.slice(0, -1);
          }

          $.ajax('http://test.hzyctools.com/wap/auth_api/set_cart_comb', {
            data: {
              cartNum: 1,
              unique:  uniqueList.join(','),
              productId: productList.join(','),
              is_comb: 1,
            },
            dataType: 'jsonp',
            crossDomain: true,
            success: ((res) => {
              if (res.code === 200) {
                if (res.data && res.data.cartId) {
                  this.$dialog.loading.open('加入成功~');
                  setTimeout(() => {
                    this.$dialog.loading.close();
                    window.location.href = 'http://test.hzyctools.com/wap/store/cart.html?uniqueId=' +
                      res.data.cartId;
                  }, 1000);
                }
              } else {
                this.$dialog.loading.open('加入失败~');
                setTimeout(() => {
                  this.$dialog.loading.close();
                }, 1000);
              }
            })
          })
        },
        initData() {
          let data = this.productData[this.currentIndex];
          let cate_list = {};
          for (let index = 0; index < data.cate_list.length; index++) {
            if (data.cate_list[index].shop_list.length > 0) {
              cate_list = data.cate_list[index];
            }
            break;
          }
          if (cate_list.shop_list && cate_list.shop_list[0]) {
            let shop = cate_list.shop_list[0];
            this.clickSeries(this.currentIndex, shop);
          }
        },
        // 监听show-product容器宽度 并固定高度为屏幕宽度的1.6
        handleResize() {
          let showProduct = document.getElementsByClassName("show-product")[0];
          let bodyProduct = document.getElementsByClassName("product-main")[0];
          let height = document.documentElement.clientHeight || document.body.clientHeight;
          let footBtn = document.getElementsByClassName("product-foot")[0];
          if (showProduct) {
            let width = showProduct.clientWidth / 1.6;
            showProduct.style.height = width + 'px';

            if (bodyProduct) {
              bodyProduct.style.marginTop = width + 5 + 'px';
              // 所剩高度为，总体高度 - 固定区域高（等于宽）- 底部固定的按钮
              bodyProduct.style.height = height - width - footBtn.clientHeight - 5 + 'px';
            }
          }
        },
        // 监听滚动条，来启用是否滑动到顶部
        handleScroll() {
          let bodyProduct = document.getElementsByClassName("product-main")[0];
          if (bodyProduct) {
            let scrollTop = bodyProduct.pageYOffset || bodyProduct.scrollTop;
            this.isDisplay = scrollTop > 100 ? true : false;
          }
        },
        // 滑动到顶部
        goTop() {
          let bodyProduct = document.getElementsByClassName("product-main")[0];
          if (bodyProduct) {
            bodyProduct.scrollTop = 0;
          }
        },
      }
    })

  </script>
</body>

</html>
